---
import Header from '../components/Header.astro';
import Mainarea from '../components/Mainarea.astro';
import Layout from '../layouts/Layout.astro';
import Marquee from '../components/Marquee.astro';
---

<Layout>
    <div class="relative min-h-screen">
      <div class="relative lg:fixed top-0 left-0 w-full z-0">
        <Header />
        <Marquee />
      </div>
	    <Mainarea />
    </div>
</Layout>
